.search-row {
  height: 40px;
}
.fixed-item {
  background-color: #B18904;
}
.right-float {
  float: right;
}
.fixed-item-narrow {
  height: 20px;
}
.fixed-item-normal {
  height: 40px;
}
.fixed-item-wide {
  height: 60px;
}
.show-border {
  border: 2px solid red;
}
.has-search-header {
  margin-top: 140px;
}
.additional-padding1 {
  padding-top: 25px;
}
.additional-padding2 {
  padding-top: 25px;
}
.additional-padding3 {
  margin: 5px 2px 1px;
}
.margin-thin {
  margin-top: 4px;
  margin-bottom: 10px;
}