@(message: String)

@fixed = {  
    <div class="navbar-fixed-top fixed-item searchBar">
        <div class="container margin-thin">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="keywords" class="col-sm-2 control-label additional-padding3">Keywords</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" id="keywords" placeholder="keywords">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="location" class="col-sm-2 control-label additional-padding3">Location</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" id="location" placeholder="location">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="distance" class="col-sm-2 control-label additional-padding3">Distance</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" id="distance" placeholder="distance">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="numOfEvents" class="col-sm-2 control-label additional-padding3">Show</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" id="numOfEvents" placeholder="number of events">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary search">Search</button>
                </div>
            </div>
        </div>
    </div>
}

@main("Events Mashup App")(fixed) {
    <div id="content" class="container">
        <div class="has-search-header errorNode"></div>
        <div>
            <div class="show" id="eventListPane"></div>
            <div class="hide" id="eventDetailPane">
                <div class="row hide">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-info back">Back to list</button>
                        <button type="button" id="buy" class="btn btn-info buy hide right-float">Buy</button>
                    </div>
                </div>
                <div class="row hide">
                    <div id="eventDetailNode" class="col-lg-12"></div>
                </div>
            </div>
        </div>
        <script type="text/x-underscore" id="eventList">
            <%
            _.each(events,function(event,key,list){
            %>
                <div class="row">
                    <div class="col-lg-6">
                        <h3><%- event.name %></h3>
                    </div>
                    <div class="col-lg-3">
                        <h5><% print(new Date(event.time)) %></h5>
                    </div>
                    <div class="col-lg-2">
                        <% if (event.venue) { %>
                            <% if (event.venue.address_1) { %>
                                <h5><%- event.venue.address_1 %></h5>
                            <% } %>
                            <% var address_2 = event.venue.city ? event.venue.city + ( event.venue.state ? ", " + event.venue.state + ( event.venue.zip ? " " + event.venue.zip : "" ) : "" ) : "" %>
                            <h5><%- address_2 %></h5>
                        <% } %>
                    </div>
                    <div class="col-lg-1" data-event-id='{"eventId":"<%- event.id %>"}'>
                        <button type="button" class="btn btn-info details">Details</button>
                    </div>
                </div>
            <%
            });
            %>
        </script>
        <script type="text/x-underscore" id="eventDetail">
            <div class="row">
                <div class="col-lg-7">
                    <h3><a href="<%- event.event_url %>"><%- event.name %></a></h3>
                </div>
                <div class="col-lg-3">
                    <h5><% print(new Date(event.time)) %></h5>
                </div>
                <div class="col-lg-2">
                    <% if (event.venue) { %>
                        <% if (event.venue.address_1) { %>
                            <h5><%- event.venue.address_1 %></h5>
                        <% } %>
                        <% var address_2 = event.venue.city ? event.venue.city + ( event.venue.state ? ", " + event.venue.state + ( event.venue.zip ? " " + event.venue.zip : "" ) : "" ) : "" %>
                        <h5><%- address_2 %></h5>
                    <% } %>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="eventDescription"></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3><%- event.group.name %></h3>
                </div>
            </div>
        </script>
    </div>
}
